@import url("https://fonts.googleapis.com/css2?family=Playwrite+CZ:wght@100..400&family=Playwrite+US+Trad+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  /* background-color: #020202; */
  border-radius: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-brand {
  font-size: 24px;
  font-family: "zentry", cursive;
  font-weight: bold;
  color: var(--color-off-white);
  letter-spacing: 2px;
}

.navbar-center {
  display: flex;
  gap: 30px;
}

.nav-link {
  color: #f0e2e2;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  /* padding: 5px 10px; */
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  /* background-color: ; */
}

.navbar-right {
  display: flex;
  align-items: center;
}

.profile-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid var(--color-off-white);
  transition: transform 0.3s ease;
}

.profile-circle:hover {
  transform: scale(1.05);
}

.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logout-btn {
  background-color: var(--color-primary);
  color: var(--color-light);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--transition);
}

.logout-btn:hover {
  background-color: #d13240;
  transform: translateY(-1px);
}

@media (max-width: 768px) {
  .navbar {
    padding: 15px 20px;
  }
  .navbar-center {
    display: none;
  }
  .nav-brand {
    font-size: 20px;
  }
}
